@charset "UTF-8";
@tailwind base;
@tailwind components;
@tailwind utilities;
	
header {  
background-color: orange;  
position: fixed;  
left: 0;  
right: 0;  
top: 0;  
height: 30px;  
display: flex;  
align-items: center;  

}  
header * {  
display: inline;  
}  
header li {  
margin: 20px;  
}  
header li a {  
color: blue;  
text-decoration: none;  
}  
header li a:hover {  
color: red;  
text-decoration: none;  
} 