<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Transport Market</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="css/style.css">

</head>
<body>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="#">Transport Market</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
     <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
     </li>
     <li class="nav-item">
        <a class="nav-link" href="#">Register</a>
     </li>
     <li class="nav-item">
        <a class="nav-link" href="#">Log in</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log out</a>
      </li>
    </ul>
    </div>
    <form class="form-inline">
    <div style="float:left"> <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></div> 
   <div style="float:left">  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></div> 
    </form>
  
</nav>
<div class="centered-div">
<h1>List of Loads:</h1>
</div>
<div>
	<table class="table table-striped table-hover">
    <thead>
        <tr>
        	<th> # </th>
            <th> Name </th>
            <th> Loading date </th>
     		<th> Loading city </th>
     		<th> Loading postcode </th>
     		<th> Unloading date </th>
     		<th> Unloading city </th>
     		<th> unloading postcode </th>
     		<th> Weight [t] </th>
     		<th> Load Type </th>
     		<th> Price [PLN] </th>
        </tr>
    </thead>
    <tbody>
	<tr th:if="${loads.empty}">
            <td colspan="2"> No Loads Available </td>
        </tr>
        <tr th:each="load : ${loads}">
         	<td><span th:text="${load.load_id}"> # </span></td>
            <td><span th:text="${load.name}"> Name </span></td>
            <td><span th:text="${#temporals.format(load.loadingDate, 'yyyy-MM-dd')}"> Loading date </span></td>
            <td><span th:text="${load.loadingCity}"> Loading City </span></td>
            <td><span th:text="${load.loadingPostcode}"> Loading Postcode </span></td>
            <td><span th:text="${#temporals.format(load.unloadingDate, 'yyyy-MM-dd')}"> Unloading date </span></td>
            <td><span th:text="${load.unloadingCity}"> Unloading City </span></td>
            <td><span th:text="${load.unloadingPostcode}"> Unloading Postcode </span></td>
            <td><span th:text="${#numbers.formatDecimal(load.weight,0,3,'COMMA')}"> Weight </span></td>
            <td><span th:text="${load.loadType}"> Load Type </span></td>
            <td><span th:text="${#numbers.formatDecimal(load.price,0,2,'COMMA')}"> Price </span></td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>